{% extends 'base.html' %}

{% block content %}
<section class="card">
    <p class="muted">
        Гравець: <b>{{ player.name }}</b>
    </p>

    <div id="playerState">
        Завантаження...
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    window.INVITE_CODE = "{{ game.invite_code }}";
    window.GAME_ID = {{ game.id }};
    window.SUPABASE_URL = "{{ supabase_url }}";
    window.SUPABASE_PUBLIC_KEY = "{{ supabase_public_key }}";
</script>

<script src="/static/player.js?v=5"></script>
{% endblock %}
